/* Nav Elements */

.nav {
  align-items: center;
}

.nav-container {
  position: relative;
}

/* Nav List (UL) */

.nav-list {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 3rem;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-item {
  list-style: none;
}

/* Nav Links */

.nav-link-anchor {
  color: cornflowerblue;
  display: block;
  font-size: 1.125rem;

  span {
    display: inline-block;
  }

  &:hover {
    color: white;
  }

  &:focus {
    color: white;
  }
}
