#backToTop {
  bottom: 10px;
  cursor: pointer;
  display: flex;
  position: fixed;
  right: 24px;
  z-index: 1000;

  button {
    background-color: darkslategray;
    border-radius: 50%;
    display: inline-block;
    color: white;
    margin: 1rem;
    padding: 1rem;
    position: relative;
  }

  svg {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }
}